body{
    margin: 0px;
  }
  a {
    color : black;
    text-decoration: none;
  }
  .saw{
    color:brown;
  }
  #active{
    color: chocolate;
  }
  h1{
    font-size:45px;
    text-align: center;
    border-bottom:1px solid gray;
    margin: 0px;
    padding: 20px;
  }
  ol{
    border-right: 1px solid blue;
    width: 150px;
    margin: 0px;
    padding: 20px;
  }
#grid{
  display: grid;
  grid-template-columns: 500px 1fr;
}
ol{
  padding-left: 33px;
}